/* CSS/style.css */
body {
    font-family: Arial, sans-serif;
    background-image: url('../gameImage/cartoongame3.jpg');
    background-size: cover;
    background-position: center;
    display: flex; /* 부모 요소를 플렉스 박스로 설정 */
    justify-content: center; /* 수평 가운데 정렬 */
    align-items: center; /* 수직 가운데 정렬 */
    height: 100vh; /* 화면 전체 높이를 기준으로 정렬 */
}

.login-container {
    max-width: 400px;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.login-container h2 {
    text-align: center;
    margin-bottom: 20px;
}
.login-container input[type="text"],
.login-container input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.login-container input[type="submit"] {
    background-color: black;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

.login-container input[type="submit"]:hover {
    background-color: #45a049;
}


.center-text {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-size: 24px;
    font-family: 'Arial', sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    letter-spacing: 2px;
    line-height: 1.5;
}

.signup-link,
.forgot-password-link {
    display: block; /* 링크를 블록 수준 요소로 만들어 줍니다. */
    margin-top: 10px; /* 다른 요소와의 간격을 조절합니다. */
    text-decoration: none; /* 밑줄 제거 */
    color: #007bff; /* 링크 색상 지정 */
}

.signup-link:hover,
.forgot-password-link:hover {
    text-decoration: underline; /* 호버 시에 밑줄 표시 */
}

/* 메인 화면 바로가기 버튼 스타일 */
.main-page-link {
    display: block; /* 가운데 정렬을 위해 블록 요소로 설정 */
    text-align: center; /* 텍스트 가운데 정렬 */
    font-size: 40px; /* 글자 크기 설정 */
    text-decoration: none;
    color: white; /* 링크 색상 */
}







